<nav class="sidenav">
    <div class="sidenav__logo"><svg width="192" height="41" viewBox="0 0 192 41" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M17.3216 0L0 10.0083V19.4207L7.02884 23.4823V14.0577L24.3504 4.06292L17.3216 0ZM0.000135431 30.0111L17.3217 40.0059L25.4611 35.32V27.1942L17.3217 31.8936H17.3082L0.000135431 21.8988V30.0111ZM26.4903 5.29506L34.6433 10.008V30.0111L27.6009 34.0741L27.628 14.0574L19.475 9.35798L26.4903 5.29506Z"
    fill="white"
  ></path>
  <path
    d="M9.25004 15.493V24.6345L17.3488 29.3069L25.4611 24.6345V15.493L17.3488 20.1789L9.25004 15.493Z"
    fill="#FFB800"
  ></path>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M147.741 11.2269C147.606 10.929 147.172 10.929 147.037 11.2269L137.936 29.9705C137.855 30.1466 137.977 30.3362 138.166 30.3362H141.132C141.227 30.3362 141.322 30.282 141.363 30.1872L143.502 25.5419C143.543 25.4471 143.638 25.3929 143.733 25.3929H151.019C151.114 25.3929 151.208 25.4471 151.249 25.5419L153.389 30.1872C153.429 30.282 153.524 30.3362 153.619 30.3362H156.585C156.775 30.3362 156.896 30.133 156.815 29.9705L147.741 11.2269ZM149.583 22.1562H145.195C145.141 22.1562 145.1 22.102 145.127 22.0478L147.321 17.2942C147.349 17.24 147.43 17.24 147.457 17.2942L149.651 22.0478C149.678 22.102 149.651 22.1562 149.583 22.1562ZM58.8447 11.3759H61.8106C62.0002 11.3759 62.1221 11.579 62.0679 11.7415L52.967 30.4851C52.8316 30.7831 52.3982 30.7831 52.2628 30.4851L43.1618 11.7415C43.067 11.5384 43.1618 11.3759 43.3921 11.3759H46.2632C46.4122 11.3759 46.5476 11.4707 46.6153 11.6061L52.5336 23.4427C52.5607 23.4969 52.642 23.4969 52.6691 23.4427L58.6145 11.5249C58.6551 11.4301 58.7499 11.3759 58.8447 11.3759ZM174.218 27.2348H163.004C162.937 27.2348 162.869 27.1806 162.869 27.1129V11.6332C162.869 11.4978 162.747 11.3759 162.598 11.3759H159.849C159.7 11.3759 159.578 11.4842 159.578 11.6332V30.0924C159.578 30.2278 159.7 30.3497 159.849 30.3497H174.177C174.326 30.3497 174.435 30.2414 174.448 30.1059L174.489 27.5057C174.475 27.3567 174.367 27.2348 174.218 27.2348ZM127.887 11.3759H121.915C121.766 11.3759 121.657 11.4842 121.657 11.6332V30.0924C121.657 30.2278 121.779 30.3497 121.915 30.3497H128.117C133.643 30.3497 138.112 25.894 137.909 20.5039C137.706 15.3711 133.183 11.3759 127.887 11.3759ZM128.117 27.2348H124.989C124.921 27.2348 124.854 27.1806 124.854 27.1129V14.5991C124.854 14.5314 124.908 14.4772 124.989 14.4772H127.914C131.341 14.4772 134.347 16.9421 134.672 20.2466C135.051 24.0386 131.964 27.2348 128.117 27.2348ZM94.1921 23.5511C94.1514 23.5646 94.1379 23.6188 94.165 23.6594L98.5936 29.957C98.7154 30.1195 98.5936 30.3497 98.3904 30.3497H95.2078C95.1265 30.3497 95.0453 30.3091 95.0047 30.2414L90.2917 23.9032C90.251 23.8355 90.1698 23.7949 90.0885 23.7949H86.9465C86.8924 23.7949 86.8653 23.8355 86.8653 23.8761V30.0924C86.8653 30.2414 86.7434 30.3497 86.608 30.3497H83.9941C83.8452 30.3497 83.7368 30.2278 83.7368 30.0924V11.6332C83.7368 11.4842 83.8587 11.3759 83.9941 11.3759H91.8491C95.3432 11.3759 98.1873 14.2064 98.1873 17.6869C98.1873 20.3008 96.5621 22.6031 94.1921 23.5511ZM88.4363 20.9102H91.7272C93.3795 20.9102 94.8421 19.7455 95.0453 18.1068C95.3026 16.143 93.7587 14.4637 91.8356 14.4637H86.9194C86.8653 14.4637 86.8382 14.5043 86.8382 14.545V20.8425C86.8382 20.8831 86.8788 20.9237 86.9194 20.9237H88.4363V20.9102ZM68.1488 27.2348H79.4166C79.5656 27.2348 79.6739 27.3567 79.701 27.4921L79.6604 30.0924C79.6468 30.2278 79.5385 30.3362 79.3895 30.3362H65.061C64.912 30.3362 64.7901 30.2143 64.7901 30.0788V11.6197C64.7901 11.4707 64.912 11.3623 65.061 11.3623H79.4166C79.5656 11.3623 79.6875 11.4842 79.6875 11.6197L79.6604 14.2064C79.6468 14.3418 79.5385 14.4502 79.3895 14.4502H68.1488C68.1081 14.4502 68.0675 14.4908 68.0675 14.5314V19.2173C68.0675 19.2715 68.1081 19.2986 68.1488 19.2986H76.7486C76.8976 19.2986 77.0195 19.4205 77.0195 19.5559L76.9789 22.1562C76.9653 22.2916 76.857 22.3999 76.708 22.3999H68.1488C68.1081 22.3999 68.0675 22.4406 68.0675 22.4812V27.1535C68.0675 27.2077 68.1081 27.2348 68.1488 27.2348ZM191.729 27.2077H180.813C180.773 27.2077 180.732 27.1806 180.732 27.1265V22.427C180.732 22.3864 180.773 22.3458 180.813 22.3458H189.102C189.237 22.3458 189.359 22.2374 189.359 22.102L189.4 19.5017C189.4 19.3663 189.291 19.2444 189.142 19.2444H180.813C180.773 19.2444 180.732 19.2173 180.732 19.1631V14.4637C180.732 14.4231 180.773 14.3824 180.813 14.3824H191.702C191.837 14.3824 191.959 14.2741 191.959 14.1387L191.986 11.5384C191.986 11.403 191.878 11.2811 191.729 11.2811H177.82C177.685 11.2811 177.563 11.3894 177.563 11.5384V30.0653C177.563 30.2007 177.671 30.3226 177.82 30.3226H191.702C191.837 30.3226 191.959 30.2143 191.959 30.0788L192 27.465C191.986 27.3296 191.878 27.2077 191.729 27.2077ZM114.52 11.6738C114.52 11.5384 114.629 11.4301 114.764 11.4301H117.364C117.5 11.4301 117.608 11.5384 117.608 11.6738V30.5664C117.608 30.905 117.188 31.0675 116.958 30.8102L105.92 19.0412C105.866 19.0006 105.785 19.0277 105.785 19.0954V30.1059C105.785 30.2414 105.677 30.3497 105.541 30.3497H102.954C102.819 30.3497 102.711 30.2414 102.711 30.1059V11.6738C102.711 11.3353 103.13 11.1727 103.361 11.4301L114.385 22.8604C114.439 22.901 114.52 22.8739 114.52 22.8062V11.6738Z"
    fill="white"
  ></path>
</svg></div>

    <triggered-group reverse-on-click-outside>
      <ul class="sidenav__items">
        <li class="sidenav__item">
          <button class="sidenav__menu-trigger" id="inline-menu-1">
            About Us
          </button>
          <trigger-element target="inline-menu-1" opacity="0, 1" translate-y="-100%, 0" duration="0.4" class="sidenav__megamenu-container">
            <div class="sidenav__inline-menu-item">
              <ul><li>Menu item 1</li><li>Menu item 2</li><li>Menu item 3</li></ul>
            </div>
          </trigger-element>
        </li>
        <li class="sidenav__item">
          <button class="sidenav__menu-trigger" id="inline-menu-2">
            Products
          </button>
          <trigger-element target="inline-menu-2" opacity="0, 1" translate-y="-100%, 0" duration="0.4" class="sidenav__megamenu-container">
            <div class="sidenav__inline-menu-item">
              <ul><li>Menu item 1</li><li>Menu item 2</li></ul>
            </div>
          </trigger-element>
        </li>
        <li class="sidenav__item">
          <button class="sidenav__menu-trigger" id="inline-menu-3">
            Industries
          </button>
          <trigger-element target="inline-menu-3" opacity="0, 1" translate-y="-100%, 0" duration="0.4" class="sidenav__megamenu-container">
            <div class="sidenav__inline-menu-item">
              <ul><li>Menu item 1</li></ul>
            </div>
          </trigger-element>
        </li>
      </ul>
    </triggered-group>

    <zoom-in-up delay="1">
        <triggered-element trigger-type="click" trigger-controls="sidenav__side-menu" class="sidenav__side-trigger">
          {{>animated-button animationClass="sweep-anim" customClass="sidenav__cta" label="Contact Us"}}
        </triggered-element>
    </zoom-in-up>
    {{#with animatedElement}}
    <triggered-element id="sidenav__side-menu" hide {{#if className}}class="{{className}}"{{/if}} {{#if inOpacity}}in-opacity="{{inOpacity}}"{{/if}} {{#if outOpacity}}out-opacity="{{outOpacity}}"{{/if}} {{#if inTranslateY}}in-translate-y="{{inTranslateY}}"{{/if}} {{#if outTranslateY}}out-translate-y="{{outTranslateY}}"{{/if}} {{#if inTranslateX}}in-translate-x="{{inTranslateX}}"{{/if}} {{#if outTranslateX}}out-translate-x="{{outTranslateX}}"{{/if}}{{#if duration}} duration="{{duration}}"{{/if}}{{#if easing}} easing="{{easing}}"{{/if}}>
        <div class="sidenav__menu-inner">
            <div>
                <p>Choose your solution</p>
                <ul>
                    <animated-timeline>
                        <animated-element opacity="1" duration="1.2" class="animated-opacity overflow-hidden rounded">
                            <li class="secondary-text">Optimization</li>
                        </animated-element>
                        <animated-element opacity="1" duration="1.2" at="0.4" class="animated-opacity overflow-hidden rounded">
                            <li class="secondary-text">Digital Marketing</li>
                        </animated-element>
                        <animated-element opacity="1" duration="1.2" at="0.8"  class="animated-opacity overflow-hidden rounded">
                            <li class="secondary-text">Commerce</li>
                        </animated-element>
                    </animated-timeline>
                </ul>
            </div>
            <triggered-element trigger-type="click" trigger-controls="sidenav__side-menu" class="sidenav__side-trigger">
                {{>svg name="plus" className="sidenav__menu-close"}}
            </triggered-element>
        </div>
    </triggered-element>
    {{/with}}


   <triggered-element trigger-type="click" trigger-controls="sidenav__mobile-menu" class="sidenav__mobile-menu-trigger">
      {{>button className="primary" label="☰"}}
    </triggered-element>
    {{#with mobileAnimatedElement}}
    <triggered-element id="sidenav__mobile-menu" hide {{#if className}}class="{{className}}"{{/if}} {{#if inOpacity}}in-opacity="{{inOpacity}}"{{/if}} {{#if outOpacity}}out-opacity="{{outOpacity}}"{{/if}} {{#if inTranslateY}}in-translate-y="{{inTranslateY}}"{{/if}} {{#if outTranslateY}}out-translate-y="{{outTranslateY}}"{{/if}} {{#if inTranslateX}}in-translate-x="{{inTranslateX}}"{{/if}} {{#if outTranslateX}}out-translate-x="{{outTranslateX}}"{{/if}}{{#if duration}} duration="{{duration}}"{{/if}}{{#if easing}} easing="{{easing}}"{{/if}}>
        <div class="sidenav__menu-inner--mobile">
            <ul>
                <li>Smart mailboxes</li>
                <li>How it works</li>
                <li>The app</li>
            </ul>
        </div>
    </triggered-element>
    {{/with}}
</nav>
